CONFIG_LED_AUDIO_STRIP_GPIO=19
CONFIG_LED_AUDIO_LED_COUNT=12
CONFIG_LED_AUDIO_BRIGHTNESS=64
CONFIG_AUDIO_SAMPLE_RATE=44100
CONFIG_LOG_SWEEP_DURATION_SEC=5
CONFIG_LOG_SWEEP_START_FREQ=20
CONFIG_LOG_SWEEP_END_FREQ=20000
